@keyframes showDetails {
    from { 
        top: var(--card-animation-space);
        z-index: -1;
    }
    to { 
        top: 0px; 
        z-index: 1;
    }
}

@keyframes hideDetails {
    from { 
        top: 0px;
    }
    to { 
        top: var(--card-animation-space); 
        z-index: -1;
    }
}

.detailsContainer {
    flex-direction: "column";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    animation: showDetails var(--card-animation-time) linear;
}

.hideDetailsAnimation {
    position: relative;
    animation: hideDetails var(--card-animation-time) linear;
}


:root {
    --card-animation-time: 400ms;
    --card-animation-space: -150px;
}